/*Variables for colors*/
:root {
    --dk_grey_font: #5f5f5f;
    --lt_grey_font: #A7A7A7;
    --pink: #af4450;
    --purple: #760b85;
    --blue: #5cc2cf;
    --green_dark: #dbd815;
    --green_light: #55be81;
    --dk_blue: #7f9cc2;

  }
  /* Must have */
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* General Style */

body{
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--dk_grey_font);
    height: 100vh;
}

ul li{
    list-style: none;
    font-size: 20px;
}

div{
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

h3{
    font-size: 25px;
}

p{
    font-size: 18px;

}

button{
    color: #292929;
    border-radius: 20px;
    text-decoration: none;
    font-family: inherit;
    border: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 100px;
    margin-top: 20px;
}

button:active{
    transform: scale(0.8);
}


/* Menu Background Image */
.container_menu{
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Menu List Circles */

.circle{
    border-radius: 50%;
    position: absolute;
    z-index:1;
    transition: .10s ease;  
    font-size: 0px;  
    
}

#click_circle{
    padding-bottom: 55px;
    font-style: italic;
    font-size: 18px;
    padding-bottom: 70px;

}

/* Menu List Titles */

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    color: var(--dk_grey_font);
    padding: 30px;
    cursor: pointer;
    padding-top: 70px;
}

.nav li:active{
    transform: scale(0.8);
}

.nav li{
    font-size: 19px;
    font-weight: 500;
    
}


/* Active Circles - Transition */


.circle:hover {
    transform: scale(4.4);
    transition-property: all;
    transition-property: transform;
    transition-duration: 200ms;
    font-size: 4px;
    font-weight: 300;
    color: white;
    z-index: 2;
    cursor: pointer;
}

#light_green_design:active,
#dark_green_jewelry:active,
#pink_web:active,
#purple_artwork:active,
#blue_about:active,
#dk_blue_uxui:active {
    transform: scale(1.1);
    transition-property: all;
    transition-property: transform;
    transition-duration: 100ms;
    cursor: pointer;  
}


/* UXUI Category Circles */

#dk_blue_uxui{
    background-color: var(--dk_blue);
    position: absolute;
	width: 19px;
	height: 19px;
	top: 6px;   
	left: -19px;
}

.grey_line_0{
    background-color: transparent;
    border-radius: 50%;
    border-width: 0.5px;
    border-color: rgb(246, 246, 246);
    border-style: ridge;
    width: 350px;
    height: 350px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    position: absolute;

}

/* Design Category Circles */

#light_green_design{
    background-color: var(--green_light);
    position: absolute;
	width: 19px;
	height: 19px;
	top: 20px;   
	left: 0px;
}

.grey_line_1{
    background-color: transparent;
    border-radius: 50%;
    border-width: 0.5px;
    border-color: rgb(246, 246, 246);
    border-style: ridge;
    width: 300px;
    height: 300px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    position: absolute;

}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/* Web Category */

#dark_green_jewelry{
    background-color: var(--green_dark);
    position: absolute;
	width: 19px;
	height: 19px;
	top: 34px;   
	left: 20px;   

}


.grey_line_2{
    background-color: transparent;
    border-radius: 50%;
    border-width: 0.5px;
    border-color: rgb(228, 228, 228);
    border-style: ridge ;
    width: 250px;
    height: 250px;
    -webkit-animation:spin 4s infinite;
    -moz-animation:spin 4s infinite;
    animation:spin 1s infinite;
}



/* Web Category */

#pink_web{
    background-color: var(--pink);
    position: absolute;
	width: 19px;
	height: 19px;
	top: 50px;   
	left: 42px;   

}

.grey_line_3{
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    border-width: 0.5px;
    border-color: rgb(228, 228, 228);
    border-style: ridge ;
    width: 200px;
    height: 200px;
    -webkit-animation:spin 4s  infinite;
    -moz-animation:spin 4s infinite;
    animation:spin 7s infinite;
}



/* jewelry Category */

#purple_artwork{
    background-color: var(--purple);
    position: absolute;
	width: 19px;
	height: 19px;
	top: 129px;   
	left: 163px;   

}


.grey_line_4{
    background-color: transparent;
    border-radius: 50%;
    border-width: 0.5px;
    border-color: rgb(228, 228, 228);
    border-style: ridge ;
    width: 100px;
    height: 100px;
    -webkit-animation:spin 4s  infinite;
    -moz-animation:spin 4s infinite;
    animation:spin 2s infinite;
    position: absolute;
}



/* about Category */

#blue_about{
    background-color: var(--blue);
    position: absolute;
	width: 19px;
	height: 19px;
	top: 144px;   
	left: 185px;   

}

.grey_line_5{
    background-color: transparent;
    border-radius: 50%;
    border-width: 0.5px;
    border-color: rgb(228, 228, 228);
    border-style: ridge ;
    width: 150px;
    height: 150px;
    -webkit-animation:spin 4s  infinite;
    -moz-animation:spin 4s infinite;
    animation:spin 9s infinite;
    position: absolute;
}

/* Intro */

main{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    
}

.container_intro h1{
    padding-top: 40px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 65px;
    padding-left: 5px;
    padding-right: 5px;

    
}

.container_intro h2{
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 22px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;

}

.container_intro p{
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 5px; 
}

/* Intro - Colored lines over quote */

#dark_blue_line{
    width: 62px;
    height: 5px;
    background-color: var(--dk_blue);
}

#dark_green_line{
    width: 62px;
    height: 5px;
    background-color: var(--green_dark);
}

#light_green_line{
    width: 62px;
    height: 5px;
    background-color: var(--green_light);
}

#pink_line{
    width: 62px;
    height: 5px;
    background-color: var(--pink);
}

#blue_line{
    width: 62px;
    height: 5px;
    background-color: var(--blue);
}

#purple_line {
    width: 62px;
    height: 5px;
    background-color: var(--purple);
}

.line_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;

}

/* Categories Section */

.container_section {
    padding: 10px;
    margin: 0 auto;

}

/*  Categories Section */

.container_section h3{
    padding-bottom: 30px;
    text-align: left;

    
}

.container_section p{
    margin-bottom: 30px;

}

#quote_jewelry{
    text-align: center;
    font-style: italic;
}





/* Slideshow container */
img{
    border-radius: 20px;
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;

  }
  
  
  /* forward & Back buttons */
  .back, .forward {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -50px;
    padding: 17px;
    color: #5d5d5d;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
  }

  .back {
    left: 0;
    border-radius: 4px 0 0 4px;
  }
  
  /* Place the "forward button" to the right */
  .forward {
    right: 0;
    border-radius: 4px 0 0 4px;
    
  }
  
  /*when the user hovers,add a black background with some little opacity */
  .back:hover, .forward:hover {
    color: #292929;
  }
  
  /* Caption Info */
  .info {
    color: #5d5d5d;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 40px;
    padding-top: 20px;

  }
  
  
  /* The circles or bullets and indicators */
  .flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;

  }
  

  .dots {
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 3px;
    background-color: rgb(214, 214, 214);
    border-radius: 50%;
    transition: background-color 0.5s ease;


  }
  
  .enable, .dots:hover {
    background-color: #292929;
  }
  
  /* Faint animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }
  
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }


  /* Web Development, UX and Graphic Images */

  .flexy1, .flexy2{
      width: 90%;
      margin:0 auto;
  }
  .uxuiCat img{
    width: 100%;
    border-radius: 20px;
  }

  .uxui_images p{
     text-align: left;
    }

  .uxui h4{
      font-size: 18px;
  }

  .uxui h5{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .uxui p{
    font-size: 18px;
    margin-top: 20px;
  }

  .uxui .info{
    font-size: 20px;
  }

  
  .web img{
    width: 100%;
    border-radius: 20px;
  }

  .web_images p{
     text-align: left;
  }


  /* UX and Graphic Nav */

  .subnav{
      display: flex;
      gap: 20px;
      margin-bottom: 30px;

  }

  .subnav li{
    font-size: 17px;
  }

  /* UX Sections */

  
  .xmac_uxui_info img{
      margin-bottom: 50px;
      max-width: 800px;
  }

  .xmac_uxui_365 img{
    margin-bottom: 50px;
    max-width: 800px;
}



  #button_uxui_365, #button_uxui_xmac{
      margin-bottom: 20px;
  }

  .colorline{
      margin-bottom: 80px;
      background-color: rgb(231, 231, 231);
      height: 1px;
      width: 1000px;
      text-align: center;
      margin-top: 20px;
  }

  /* * About Section */ */

  .about{
    margin: 40px;
    display: flex;
    justify-content: center;
    justify-items: center;
  }

  .about p{
    width: 400px;
    margin: 0 auto;

  }


  .flexy6{
      display: flex;
      justify-content: center;
      justify-items: center;
      position: relative;
      width: 300px;
      margin: 0 auto;

  }

  #me_image{
      border-radius: 50%;
      margin-bottom: 50px;  
      height: 300px;

  }

  .linkedin{
      width: 90px;
      bottom: 18%;
      right: 0%;
      position: absolute;
  }


/* Responsive - 380px  */


@media screen and (min-width: 200px) and (max-device-width: 500px) {
    .nav{
        flex-direction: column;
    }

    .flexy6{
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    } 

}
  /* Responsive - 500px FONT */


@media screen and (min-width: 500px) and (max-device-width: 1000px) {
    .nav li{
        font-size: 18px;
    }

}

/* Responsive - 1000px */

@media screen and (min-width: 1000px) and (max-device-width: 1200px) {
    .nav li{
        font-size: 24px;
        padding: 7px;
    }

    .uxui p{
        font-size: 20px;
    }

    .info{
        font-size: 22px;
    }

    p{
        font-size: 20px;

    }

    h3{
        font-size: 22px;
    }

    button{
        font-size: 18px;

    }

}


@media screen and (min-width: 1200px) {

    /* Design  */
    .colorline{
        display: none;
    }
    .uxui_images{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 100px;
    }

    .flexy1, .flexy2, .flexy3, .flexy4, .flexy5{
        padding: 5px;
          
    }

    /* Web  */
    .web_images{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 100px;
    }

    /* About  */

    .flex_tablet{
        display: flex;
        flex-direction: row;
        gap: 50px;
        position: relative;
    }

    .flex_tablet img{
        width: 200px;
        
    }

    


}


